# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
htmlcov/

# Virtual environments
.venv/
env/
venv/

# Build and packaging
*.egg-info/
*.egg
dist/
build/

# Git and editor
.git/
.gitignore
.vscode/
.idea/
*.swp
*.swo

# Docker and Compose files
Dockerfile*
docker-compose*
compose*

# Node/npm
node_modules/
npm-debug.log
.next

# Project artifacts
bin/
obj/
charts/
*.dbmdl
*.jfm
*.*proj.user

# Config & secrets (dev only)
.env
.env.*
secrets.dev.yaml
values.dev.yaml

# Misc
LICENSE
README.md
